footer{
    background-image: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
    color: #812F33;
    padding: 10px 0px;
    text-align: center;
    font-size: 23px;
    border-color: #812F33 2px solid;
  
    
}

